    {{ partial "head.html" . }}
    <body>
        <div id="background-img"{{ if in (.URL | string) "thank-you" }} class="merci"{{ end }}></div>
        <div id="main">
            <h1><a href="{{ .Site.BaseURL }}">{{ .Title }}</a></h1>
            <ul class="projects"> 
{{ $related := .Site.RegularPages.Related . }}
                {{ with $related }}
                {{ range . }}
            {{ $title := .Params.title }}
            {{ $permalink := .Permalink }}          
            {{ with $.Content }}
            {{- if and (strings.Contains $.Content $title) (ne $title $.Params.title) -}}
<li>{{ $content := split . $title }}{{ index $content 0 | safeHTML }}<a href="{{ $permalink }}">{{ $title }}</a>{{ index $content 1 | safeHTML }}</li>
{{ end }}
{{ end }}
{{ end }}
{{ end }}




{{ $related := .Site.RegularPages.Related . }}
{{ if eq (len $related) 0 }}
<li>{{ $.Content }}</li>
{{ end }}

{{ if not $related }}
Sadly, this page has no related content.
{{ end }}

{{ if eq $related 0 }}
Sadly, this page has no related content.
{{ end }}

{{ if eq (len $related) 0 }}
Sadly, this page has no related content.
{{ end }}












 {{ with .Resources.ByType "page" }}
            {{ range . }}            
             <li id="{{ .Params.project | urlize }}" class="project" onclick="smoothScroll(document.getElementById('{{ .Params.project | urlize }}'))"> 
    <input type="checkbox" id="check-{{ .Params.project | urlize }}" autocomplete="off" />
    <label for="check-{{ .Params.project | urlize }}"><span class="project-container" onclick="bodyFunction()"><span class="project-title toggle-content">{{ .Params.project }}</span></span></label>
    <div>{{ .Name | humanize | title | replaceRE ".md" "" }}</div>
<div class="more"><span class="sub">{{ .Params.sub }}</span>
<div class="group">{{ .Content }}</div></div>
                </li>
            {{ end }}
{{ end }}
{{ with .Resources.ByType "image" }}
            {{ range . }} 
            <li>
            <img src="{{ .RelPermalink }}" alt="{{ .Name | humanize | title }}">           
            {{ end }}
        </li>
            {{ end }}
        </ul>
        <footer><p>Copyright © {{ now.Format "2006" }} {{ .Site.Params.name }}</p></footer>
        </div>
        {{ partial "js.html" . }}
        </body>
        </html>

